[Unit]
Description=musicazoo player service

[Service]
EnvironmentFile=DIR/config.env
ExecStart=/usr/bin/python3 DIR/player.py
Restart=always

[Install]
WantedBy=default.target
