[Unit]
Description=musicazoo webserver service

[Service]
EnvironmentFile=DIR/config.env
ExecStart=/usr/bin/python3 DIR/webserver.py
Restart=always

[Install]
WantedBy=default.target
